<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Campers</li>
</ol>

<div class="page-header">
  <h1>Campers <small>by last name: {{upper selectedLetter}}</small></h1>
</div>

<div class="container">
{{{alphaPager selectedLetter}}}
</div>


<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Year Started</th>
        <th>Last Tour</th>
        <th># Camps</th>
        <th>Occupation</th>
      </tr>
    </thead>
    <tbody>
    {{#each campers}}
    <tr>
      <td>{{ id }}</td>
      <td><a href="/campers/{{ id }}">{{ firstName }} {{ lastName }}</a></td>
      <td>{{ yearStarted }}</td>
      <td>{{ current_tour_id }}</td>
      <td>{{ camps }}</td>
      <td>{{ occupation }}</td>
    </tr>
    {{/each}}
    </tbody>
  </table>
</div>
