<ol class="breadcrumb">
  <li><a href="/">Home</a>
  <li><a href="/tours">Tours</a></li>
  <li class="active">Tour {{ tourId }}</li>
</ol>

<div class="page-header">
  <h1>Tour {{ tourId }}</h1>
</div>

<div>
  <p>
    <a href="/tours/{{tourId}}/rollcall" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-bullhorn"></span> Rollcall</a>
    <a href="/tours/{{tourId}}/addcamper" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-user"></span> Add Camper</a>
  </p>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{{sort baseUrl query 'Name'    'name'}}}</th>
        <th>{{{sort baseUrl query 'Program' 'workoutProgram'}}}</th>
        <th>{{{sort baseUrl query 'Group'   'workoutGroup'}}}</th>
        <th>{{{sort baseUrl query 'Time'    'workoutTime'}}}</th>
        <th>Attendance</th>
      </tr>
    </thead>
    <tbody>
    {{#each campers}}
    <tr>
      <td><a href="/campers/{{ user_id }}">{{ firstName }} {{ lastName }}</a></td>
      <td>{{capitalize workoutProgram}}</td>
      <td>{{upper workoutGroup }}</td>
      <td>{{fmtWorkoutTime workoutTime}}</td>
      <td>
        {{#if perfect}}
        <span class="glyphicon glyphicon-star"></span>
        {{else}}
        &nbsp;&nbsp;&nbsp;
        {{/if}}
        &nbsp;{{attendance}}
      </td>
    </tr>
    {{/each}}
    </tbody>
  </table>
</div>
