<ol class="breadcrumb">
  <li class="active">Tours</li>
</ol>

<div class="container">

  <div class="page-header">
    <h1>Tours</h1>
  </div>

  <div>
    <p><a href="/tours/add" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus"></span> Add Tour</a></p>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Tour</th>
          <th>Start</th>
          <th>End</th>
          <th><div align=right>Campers</div></th>
        </tr>
      </thead>
      <tbody>
        {{#each tours}}
        <tr>
          <td><a href="/tours/{{id}}">{{id}}</a></td>
          <td>{{fmtDate startDate}}</td>
          <td>{{fmtDate endDate}}</td>
          <td align=right>{{numCampers}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
