<ol class="breadcrumb">
  <li><a href="/tours">Tours</a></li>
  <li><a href="/tours/{{tourId}}">Tour {{tourId}}</a></li>
  <li class="active">Rollcall</li>
</ol>

<div class="container">

	<div class="page-header">
	  <h1><span class="glyphicon glyphicon-bullhorn"></span> Tour {{tourId}}: Rollcall</h1>
	</div>



  <p class="help-block">Rollcall is respresented as 7 numbers, one for each day from Monday - Sunday.  Enter the numbers (0 - 3) for the number of times the camper appeared in camp that day. Saturday and Sunday are for extra credit.</p>
  <br>

	{{{weekTabs week}}}

	<p>&nbsp;</p>

	<form class="form-horizontal well" role="form" method="post">
		<input type="hidden" name="tour_id" value="{{../tourId}}">
		<input type="hidden" name="week" value="{{../week}}">
		{{#each campers}}
	  <div class="form-group">
		    <label for="rollcall_{{id}}" class="col-sm-4 control-label">{{firstName}} {{lastName}}</label>
	    <div class="col-sm-2">
	      <input type="text" class="form-control" id="rollcall_{{id}}" value="{{rollcall}}">
	    </div>
	  </div>
		{{/each}}
	  <div class="form-group">
	    <div class="col-sm-4">&nbsp;</div>
	    <div class="col-sm-2">
				<button type="submit" class="btn btn-primary">Save Rollcall</button>
			</div>
		</div>
	</form>

</div>

