<ol class="breadcrumb">
  <li><a href="/tours">Tours</a></li>
  <li class="active">Tour {{ tour.id }}</li>
</ol>


<div class="container">
  <div class="page-header">
    <h1>Tour #{{ tour.id }}</h1>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Campers</a></li>
    <li><a href="/tours/{{tour.id}}/rollcall"><span class="glyphicon glyphicon-bullhorn"></span> Rollcall</a></li>
    <li><a href="/tours/{{tour.id}}/stats"><span class="glyphicon glyphicon-heart"></span> Stats</a></li>
    <li><a href="/tours/{{tour.id}}/payments"><span class="glyphicon glyphicon-usd"></span> Payments</a></li>
  </ul>
  <p>&nbsp;</p>


  <div>
  <!-- 6/24 Remove the buttons in favor of nav-tabs above -->
      {{#if tour.open}}
      <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign"></span>
        Tour {{tour.id}} runs from {{fmtDate tour.startDate}} to {{fmtDate tour.endDate}} and has <strong>{{tour.participants}}</strong> campers.
      </div>
      <a href="/tours/{{tour.id}}/rollcall"  class="btn btn-primary" role="button"><span class="glyphicon glyphicon-bullhorn"></span> Rollcall</a>
      <a href="/tours/{{tour.id}}/stats"     class="btn btn-primary" role="button"><span class="glyphicon glyphicon-heart"></span> Stats</a>
      <a href="/tours/{{tour.id}}/addcamper" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-user"></span> Add Camper</a>
      {{else}}
      <div class="alert alert-warning">
        Tour {{tour.id}} ran from {{fmtDate tour.startDate}} to {{fmtDate tour.endDate}} and had <strong>{{tour.participants}}</strong> campers.
      </div>
      {{/if}}
    </p>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>

        <tr>
          <th>{{{sort baseUrl query 'Name'    'name'}}}</th>
          <th>{{{sort baseUrl query 'Program' 'workoutProgram'}}}</th>
          <th>{{{sort baseUrl query 'Group'   'workoutGroup'}}}</th>
          <th>{{{sort baseUrl query 'Time'    'workoutTime'}}}</th>
        </tr>
      </thead>
      <tbody>
      {{#each campers}}
        {{#if newRecord}}
      <tr class="warning">
        <td>
          <span class="glyphicon glyphicon-asterisk"></span>
          <a href="/tours/{{ tour_id }}/camp/{{ camp_id }}">{{ firstName }} {{ lastName }}</a>
        </td>
      {{else}}
      <tr>
        <td><a href="/tours/{{ tour_id }}/camp/{{ camp_id }}">{{ firstName }} {{ lastName }}</a></td>
      {{/if}}
        <td>{{capitalize workoutProgram}}</td>
        <td>{{upper workoutGroup }}</td>
        <td>{{fmtWorkoutTime workoutTime}}</td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
